In [1]:
import sqlite3
import math
from datetime import timedelta

In [2]:
db_name='dinofunworld.db'
connection = sqlite3.connect(db_name)
conn_obj = connection.cursor()

In [27]:
# Question 1: What is the most popular attraction to visit in the park?

conn_obj.execute("SELECT Name, attraction AS attraction, COUNT(attraction) AS Count FROM checkin c1 INNER JOIN attraction c2 ON c2.AttractionID = c1.attraction GROUP BY attraction ORDER BY COUNT DESC")
attractionName = conn_obj.fetchone()[0]
print(attractionName)

Atmosfear

In [23]:
# Question 2: What ride (note that not all attractions are rides) has the longest visit time?

conn_obj.execute("SELECT a.name, c1.attraction, avg(c1.duration) as average, a.category FROM checkin c1 INNER JOIN attraction a ON c1.attraction = a.attractionid WHERE a.category LIKE '%rides%' GROUP by attraction ORDER BY average DESC LIMIT 1;")
longestWait = conn_obj.fetchone()[0]
print(longestWait)

Flight of the Swingodon

In [26]:
# Question 3: Which Fast Food offering has the fewest visitors?

conn_obj.execute("SELECT a.attractionid, COUNT(DISTINCT c1.visitorid) unique_visits, a.Name, a.type FROM checkin c1 INNER JOIN attraction a ON c1.attraction = a.attractionid where a.type = 'Fast Food' GROUP BY attraction ORDER BY unique_visits ASC LIMIT 1;")
lowestFastFood = conn_obj.fetchall()[0][2]
print(lowestFastFood)

Theresaur Food Stop

In [68]:
# Question 4: Compute the Skyline of number of visits and visit time for the park's ride and report the rides that appear in the Skyline.

skylineList = []
leastVisitTime = math.inf
attractionName = ""

conn_obj.execute("SELECT Name, attraction AS attraction, COUNT(attraction) AS Count FROM checkin c1 INNER JOIN attraction c2 ON c2.AttractionID = c1.attraction GROUP BY attraction ORDER BY COUNT DESC")
attraction = conn_obj.fetchall()[0][0]
skylineList.append(attraction)

conn_obj.execute("SELECT  attraction.name,checkin.attraction, avg(checkin.duration) as 'avg_time', attraction.category FROM checkin INNER JOIN attraction ON checkin.attraction = attraction.attractionid WHERE attraction.category LIKE '%rides%' GROUP by attraction ORDER BY 'avg_time' ASC LIMIT 1;")
attractionName1 = conn_obj.fetchall()[0][0]
skylineList.append(attractionName1)

conn_obj.execute("SELECT attractionid, name FROM attraction where category LIKE '%ride%'")
attRides = conn_obj.fetchall()

for attId, attName in attRides:
    timeinSeconds = 0
    conn_obj.execute("SELECT duration FROM checkin WHERE attraction = "+str(attId))
    currDur = conn_obj.fetchall()
    
    for i in range(len(currDur)):
        try:
            hrs, mins, sec = currDur[i][0].split(":")
            timeinSeconds = timeinSeconds + timedelta(int(hrs), int(mins), int(sec)).total_seconds()
        
        except:
            continue
        
    if (timeinSeconds < leastVisitTime):
        leastVisitTime = timeinSeconds
        attractionName = attName
        
skylineList.append(attractionName)

print(skylineList)

['Atmosfear', 'Wrightiraptor Mountain', 'Dykesadactyl Thrill']